body {
  background-color: #d2d4d8
}

.header {
  text-align: center;
  color: white;
  font-weight: bolder;
}

.three-day-weatherListing {
  padding-top: 30px;
}

.table {
  width: 60%;
  margin: 0 auto;
  color: white;
}

th {
  text-align: center;
}

#forecast-dayInfo {
  margin-left: 120px;
}

#forecast-inline, #temperature-inline, #weekday-inline {
  display: inline-block !important;
  margin-right: 100px;
  width: 100px;
}
